<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/main.css">
    <title>Vue</title>
</head>

<body>
    <div id="app">
        <p>
            {{message}}
        </p>
        <p>
            {{count}}
        </p>
        <p>
            {{user.firstName}} {{user.prefecture}}
        </p>
        <p>
            {{colors[1]}}
        </p>


        <hr>
        <input type="text" v-bind:value="message">
        </hr>

        <p v-if="toggle">
            v-if
        </p>


        <hr>
        <p v-show="toggle">
            v-show
        </p>
        </hr>

        <hr>
        <ol>
            <li v-for="color in colors">{{color}}</li>
        </ol>
        </hr>

        <hr>
        <ul>
            <li v-for="value in user">{{value}}</li>
        </ul>
        </hr>

        <hr>
        <li v-for="(v, k) in user">{{k}}:{{v}}</li>
        </hr>

        <hr>
        <button v-on:click="onclick">Click</button>
        <p>{{now}}</p>
        </hr>

        <hr>
        <input type="text" v-model="message">
        <input type="text" v-model="message">
        </hr>

        <hr>
        <hello-component></hello-component>
        <hello-component></hello-component>
        </hr>




    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
    <script src="js/main.js"></script>
</body>

</html>